body{
    margin: 0px;
}
nav{
    width: 980px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:200px;
    margin-bottom: 20px;
    margin-left: 30px;
}
header{
   border-bottom: #060606 solid 5px;
    background: #dadada;
    height: 110px;
    display: flex;
}
nav ul li{
   list-style-type: none;
    margin-right: 50px;
}
nav ul {
    display: flex;
    padding-top: 30px;
}
nav ul li a{
   text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Inter;
}
#contact{
    text-decoration: none;
    color: black;
    font-size: 19px;
   margin-left: 100px;
}


a img{
    padding-left: 187px;
    width: 86px;
    height: 100px;
}
nav img{
    width: 28px;
    height: 21px;
}
#prv{
    margin-right: 0px;
    width: 100%;
    height: 630px;
}
#prv{
    background: url("sliki/pozadina5.jpg")  no-repeat   ;
    margin-top: 0px;
    background-size: 1530px 700px;

}

#cont {
    text-align: center;
    text-decoration: none;
    margin-top: 22px;
    margin-left: 40px;
    background: black;
    color: white;
    border-radius: 10px;
    width: 112px;
    height: 29px;
    font-family: Inter;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 8px;
}
#prv img {
    margin-left: 140px;
    margin-top: 70px;
    height: 480px;
    width: 590px;

}
#prv h1 {
   color: #dadada;
    font-family: "Palatino Linotype";
    float: right;
    margin-right: 80px;
    margin-top: 70px;
    font-size:50px;
}
#prv p {
    color: #dadada;
    font-family: "Palatino Linotype";
    float: right;
    margin-right: 40px;
    margin-left:760px;
    margin-top: -390px;
    font-size:20px;
    text-align: center;
}
#vtor{
    border-top: #dadada solid 1px;
    color: white;
    height: 33px;
    background: black;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    margin-bottom: 0px;
}
#vtor p{
      margin-top:0px;
    padding-top: 6px;
}
nav ul li a:hover{
    color: darkred;
}
#tret{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    height: 630px;
    background: #dadada;
    padding-top: 40px;

}
.del1{
    height:500px;
    width: 400px;
    background: black;
    border-radius: 47px;
    margin-top: -490px;
    margin-left: 20px;

}
#tret a{
    text-decoration: none;
    margin: 0px;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: -50px;
    margin-left: 125px;
}
#tret .d .del1 a img{
    border-radius: 213px;
    height: 150px;
    width: 150px;
    padding-left: 0px;
    margin-top: 0px;
}

.d{
     display: flex;
    flex-direction: column;
    justify-content: center;
    height: 539px;
    width: 400px;
    margin-right: 60px;
    margin-top: 30px;
}
.del2{
    height:500px;
    width: 400px;
    background: #717277;
    border-radius: 47px;
    margin-left:0px;
    margin-top: -40px;

}
.del1 h1{
    padding-top: 20px;

    border-top: #f2f2f2 solid 5px;
    color: #dadada;
    font-size: 30px;
    font-family: Inter;
    text-align: center;
}
.del1 p{
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;
    color: #dadada;
    font-family: Inter;
}
.del1 p:first-letter {
    color: #fdfdfe;
    float: left;
    font-size: 57px;
    line-height: 1;
    font-weight: bold;
    margin-right: 6px;
    margin-left: 3px;
}

.del1:hover{
    margin-bottom: 40px;
    background: #3e0000;

 }
#click{
    margin-left: 56px;
}


#c{
    display: flex;
    background: black;
    color:white;
    height: 400px;
    width: 100%;
}
#c #c1{
    margin-right: 40px;
    margin-top: -4px;
    height: 424px;
    width: 230px;
}
#c div{
    margin-top: -10px;
    font-family: Inter;
    width: 644px;
}
#c h1{
    font-family: "Palatino Linotype";
}
#basket{
    width: 600px;
}

#d{
    background: url("sliki/poazadinafilm1.jpg") no-repeat;
    background-size: contain;
    color:white;
    height: 373px;
    width: 100%;
}

#d #prva{
    width: 333px;
    height: 231px;
    border-radius: 11px;
    margin-top: 73px;
    margin-left: -63px;

}
#d #vtora,#treta{
    width: 306px;
    height: 235px;
    margin-left: 5px;
    border-radius: 11px;
    margin-top: 69px;
}

#d #cetvrta{
    width: 306px;
    height: 235px;
    margin-left: 4px;
    border-radius: 11px;
    margin-top: 69px;
}
#d #petta{
    width: 287px;
    height: 235px;
    margin-left: 3px;
    border-radius: 11px;
    margin-top: 69px;
}

#e{
    display: flex;
    margin-top: -23px;
    background: #dadada;
    height: 320px;
    width: 100%;
}
#e h1 {
    font-family: "Palatino Linotype";
    font-size: 54px;
    margin-right: 108px;
    padding-left: 118px;
}
#e p {
    font-weight: bold;
    font-size: 17px;
    font-family: Inter;
    margin-top: 32px;
    padding-right: 81px;
}

#f{
    display: flex;
    width: 100%;
    height: 780px;
    background: #060606;
}
#f #f1{
    width: 570px;
    height: 570px;
    margin-top: 70px;
    margin-left: 40px;
}
.divs,.headings{
    color: white;
}
#f2{
    margin-left: 133px;
    margin-top: 15px;
}
#f2{
    width: 800px;
}
.headings{
    margin-top: 5px;
    display: inline-block;
    background:#dadada;
    width: 500px;
    height: 45px;
    color: #060606;
    border-radius: 30px;
    font-family: "Palatino Linotype";
    border: white solid 5px;
}
.divs p{
    font-family: Bahnschrift;
    width: 700px;
}
.slika{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: -144px;
    border: white solid 2px;
    border-radius: 72px;
}
#g{
    background: url("sliki/pozadinacon.webp") no-repeat;
    background-size: 100% 700px;
    width: 100%;
    height: 600px;
}
.g1{
    display: inline-block;
    width: 400px;
    height: 40px;
    margin-left: 740px;
    padding-top: 65px;

}
.g1 img{
    width: 30px;
    height: 30px;
    border-radius: 19px;

}
.g1 div{
    font-family: Bahnschrift;
   margin-left: 44px;
    font-size: 20px;
    margin-top: -29px;
    padding-bottom: 10px;
}

